USE [EXAMONLINE]
GO
/****** Object:  Table [dbo].[ACCOUNTPLANS]    Script Date: 01-Nov-19 7:53:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNTPLANS](
	[ACCOUNTPLANID] [int] IDENTITY(1,1) NOT NULL,
	[PLANCODE] [char](5) NOT NULL,
	[SHORTDESCRIPTION] [nvarchar](100) NOT NULL,
	[CREATEDBY] [nvarchar](100) NOT NULL,
	[DATECREATED] [datetime] NULL,
	[DATEMODIFIED] [datetime] NULL,
	[MODIFIEDBY] [nvarchar](100) NOT NULL,
	[ISACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCOUNTPLANID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 01-Nov-19 7:53:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[ACCOUNTNUMBER] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](100) NOT NULL,
	[CREATEDBY] [nvarchar](100) NOT NULL,
	[DATECREATED] [datetime] NULL,
	[DATEMODIFIED] [datetime] NULL,
	[MODIFIEDBY] [nvarchar](100) NOT NULL,
	[ACCOUNTPLANID] [int] NOT NULL,
	[ACCOUNTSTATUSID] [int] NOT NULL,
	[PERSONID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCOUNTNUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACCOUNTSTATUSES]    Script Date: 01-Nov-19 7:53:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNTSTATUSES](
	[ACCOUNTSTATUSID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNTSTATUSCODE] [char](5) NOT NULL,
	[SHORTDESCRIPTION] [nvarchar](100) NOT NULL,
	[CREATEDBY] [nvarchar](100) NOT NULL,
	[DATECREATED] [datetime] NULL,
	[DATEMODIFIED] [datetime] NULL,
	[MODIFIEDBY] [nvarchar](100) NOT NULL,
	[ISACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCOUNTSTATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ANWSERS]    Script Date: 01-Nov-19 7:53:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANWSERS](
	[ANWSERID] [int] IDENTITY(1,1) NOT NULL,
	[CONTENT] [nvarchar](100) NOT NULL,
	[STATUS] [bit] NULL,
	[CREATEDBY] [nvarchar](100) NOT NULL,
	[DATECREATED] [datetime] NULL,
	[DATEMODIFIED] [datetime] NULL,
	[MODIFIEDBY] [nvarchar](100) NOT NULL,
	[QUESTIONID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ANWSERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EXAMS]    Script Date: 01-Nov-19 7:53:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAMS](
	[EXAMID] [int] IDENTITY(1,1) NOT NULL,
	[SCORE] [int] NOT NULL,
	[CREATEDBY] [nvarchar](100) NOT NULL,
	[DATECREATED] [datetime] NULL,
	[DATEMODIFIED] [datetime] NULL,
	[MODIFIEDBY] [nvarchar](100) NOT NULL,
	[ACCOUNTNUMBER] [int] NOT NULL,
	[ISACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EXAMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONS]    Script Date: 01-Nov-19 7:53:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONS](
	[PERSONID] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [nvarchar](100) NOT NULL,
	[LASTNAME] [nvarchar](100) NOT NULL,
	[GENDER] [nvarchar](20) NULL,
	[PHONENUMBER] [nvarchar](100) NOT NULL,
	[EMAILADDRESS] [nvarchar](100) NOT NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[CREATEDBY] [nvarchar](100) NOT NULL,
	[DATECREATED] [datetime] NULL,
	[DATEMODIFIED] [datetime] NULL,
	[MODIFIEDBY] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PERSONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUESTION_RESULT]    Script Date: 01-Nov-19 7:53:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION_RESULT](
	[QUESTIONRESULTID] [int] IDENTITY(1,1) NOT NULL,
	[ANWSERID] [int] NOT NULL,
	[ANWSERORDER] [nvarchar](30) NOT NULL,
	[QUESTIONID] [int] NOT NULL,
	[EXAMID] [int] NOT NULL,
	[DATECREATED] [datetime] NULL,
	[DATEMODIFIED] [datetime] NULL,
	[CREATEDBY] [nvarchar](100) NOT NULL,
	[MODIFIEDBY] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QUESTIONRESULTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUESTIONS]    Script Date: 01-Nov-19 7:53:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTIONS](
	[QUESTIONID] [int] IDENTITY(1,1) NOT NULL,
	[CONTENT] [nvarchar](300) NOT NULL,
	[LEVEL] [int] NULL,
	[CREATEDBY] [nvarchar](100) NOT NULL,
	[DATECREATED] [datetime] NULL,
	[DATEMODIFIED] [datetime] NULL,
	[MODIFIEDBY] [nvarchar](100) NOT NULL,
	[ISACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[QUESTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ACCOUNTPLANS] ON 

INSERT [dbo].[ACCOUNTPLANS] ([ACCOUNTPLANID], [PLANCODE], [SHORTDESCRIPTION], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [ISACTIVE]) VALUES (1, N'ST   ', N'STUDENT', N'HXPHAM', CAST(0x0000AAE7001C4E33 AS DateTime), CAST(0x0000AAE7001C4E33 AS DateTime), N'HXPHAM', 1)
INSERT [dbo].[ACCOUNTPLANS] ([ACCOUNTPLANID], [PLANCODE], [SHORTDESCRIPTION], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [ISACTIVE]) VALUES (2, N'TC   ', N'TEACHER', N'HXPHAM', CAST(0x0000AAE7001C4E34 AS DateTime), CAST(0x0000AAE7001C4E34 AS DateTime), N'HXPHAM', 1)
INSERT [dbo].[ACCOUNTPLANS] ([ACCOUNTPLANID], [PLANCODE], [SHORTDESCRIPTION], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [ISACTIVE]) VALUES (3, N'AD   ', N'ADMIN', N'HXPHAM', CAST(0x0000AAE7001C4E34 AS DateTime), CAST(0x0000AAE7001C4E34 AS DateTime), N'HXPHAM', 1)
SET IDENTITY_INSERT [dbo].[ACCOUNTPLANS] OFF
SET IDENTITY_INSERT [dbo].[ACCOUNTS] ON 

INSERT [dbo].[ACCOUNTS] ([ACCOUNTNUMBER], [USERNAME], [PASSWORD], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [ACCOUNTPLANID], [ACCOUNTSTATUSID], [PERSONID]) VALUES (1, N'HUNGP7', N'1', N'HXPHAM', CAST(0x0000AAE7001C4E42 AS DateTime), CAST(0x0000AAE7001C4E42 AS DateTime), N'HXPHAM', 1, 1, 1)
INSERT [dbo].[ACCOUNTS] ([ACCOUNTNUMBER], [USERNAME], [PASSWORD], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [ACCOUNTPLANID], [ACCOUNTSTATUSID], [PERSONID]) VALUES (2, N'COGIAO', N'1', N'HXPHAM', CAST(0x0000AAE7001C4E42 AS DateTime), CAST(0x0000AAE7001C4E42 AS DateTime), N'HXPHAM', 2, 1, 2)
INSERT [dbo].[ACCOUNTS] ([ACCOUNTNUMBER], [USERNAME], [PASSWORD], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [ACCOUNTPLANID], [ACCOUNTSTATUSID], [PERSONID]) VALUES (3, N'HXPHAM', N'1', N'HXPHAM', CAST(0x0000AAE7001C4E42 AS DateTime), CAST(0x0000AAE7001C4E42 AS DateTime), N'HXPHAM', 3, 3, 3)
SET IDENTITY_INSERT [dbo].[ACCOUNTS] OFF
SET IDENTITY_INSERT [dbo].[ACCOUNTSTATUSES] ON 

INSERT [dbo].[ACCOUNTSTATUSES] ([ACCOUNTSTATUSID], [ACCOUNTSTATUSCODE], [SHORTDESCRIPTION], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [ISACTIVE]) VALUES (1, N'A    ', N'ACTIVE', N'HXPHAM', CAST(0x0000AAE7001C4E37 AS DateTime), CAST(0x0000AAE7001C4E37 AS DateTime), N'HXPHAM', 1)
INSERT [dbo].[ACCOUNTSTATUSES] ([ACCOUNTSTATUSID], [ACCOUNTSTATUSCODE], [SHORTDESCRIPTION], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [ISACTIVE]) VALUES (2, N'S    ', N'SUSPENDED', N'HXPHAM', CAST(0x0000AAE7001C4E37 AS DateTime), CAST(0x0000AAE7001C4E37 AS DateTime), N'HXPHAM', 1)
INSERT [dbo].[ACCOUNTSTATUSES] ([ACCOUNTSTATUSID], [ACCOUNTSTATUSCODE], [SHORTDESCRIPTION], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [ISACTIVE]) VALUES (3, N'D    ', N'DELETED', N'HXPHAM', CAST(0x0000AAE7001C4E37 AS DateTime), CAST(0x0000AAE7001C4E37 AS DateTime), N'HXPHAM', 1)
SET IDENTITY_INSERT [dbo].[ACCOUNTSTATUSES] OFF
SET IDENTITY_INSERT [dbo].[ANWSERS] ON 

INSERT [dbo].[ANWSERS] ([ANWSERID], [CONTENT], [STATUS], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [QUESTIONID]) VALUES (1, N'package, import, class', 1, N'HXPHAM', CAST(0x0000AAE70024E040 AS DateTime), CAST(0x0000AAE70024E040 AS DateTime), N'HXPHAM', 1)
INSERT [dbo].[ANWSERS] ([ANWSERID], [CONTENT], [STATUS], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [QUESTIONID]) VALUES (2, N'class, import, package', 0, N'HXPHAM', CAST(0x0000AAE70024E040 AS DateTime), CAST(0x0000AAE70024E040 AS DateTime), N'HXPHAM', 1)
INSERT [dbo].[ANWSERS] ([ANWSERID], [CONTENT], [STATUS], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [QUESTIONID]) VALUES (3, N'import, package, class', 0, N'HXPHAM', CAST(0x0000AAE70024E040 AS DateTime), CAST(0x0000AAE70024E040 AS DateTime), N'HXPHAM', 1)
GO
SET IDENTITY_INSERT [dbo].[ANWSERS] OFF
SET IDENTITY_INSERT [dbo].[EXAMS] ON 

INSERT [dbo].[EXAMS] ([EXAMID], [SCORE], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [ACCOUNTNUMBER], [ISACTIVE]) VALUES (42, 2, N'HXPHAM', CAST(0x0000AAF300155956 AS DateTime), CAST(0x0000AAF300155956 AS DateTime), N'HXPHAM', 3, 1)
INSERT [dbo].[EXAMS] ([EXAMID], [SCORE], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [ACCOUNTNUMBER], [ISACTIVE]) VALUES (43, 1, N'HXPHAM', CAST(0x0000AAF301472251 AS DateTime), CAST(0x0000AAF301472251 AS DateTime), N'HXPHAM', 3, 1)
INSERT [dbo].[EXAMS] ([EXAMID], [SCORE], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [ACCOUNTNUMBER], [ISACTIVE]) VALUES (44, 3, N'HXPHAM', CAST(0x0000AAF301602773 AS DateTime), CAST(0x0000AAF301602773 AS DateTime), N'HXPHAM', 3, 1)
SET IDENTITY_INSERT [dbo].[EXAMS] OFF
SET IDENTITY_INSERT [dbo].[PERSONS] ON 

INSERT [dbo].[PERSONS] ([PERSONID], [FIRSTNAME], [LASTNAME], [GENDER], [PHONENUMBER], [EMAILADDRESS], [ADDRESS], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY]) VALUES (1, N'HUNG', N'PHAM', N'MALE', N'0363365053', N'hungp7@gmail.com', NULL, N'HUNGP7', CAST(0x0000AAE7001C4E3C AS DateTime), CAST(0x0000AAE7001C4E3C AS DateTime), N'HUNGP7')
INSERT [dbo].[PERSONS] ([PERSONID], [FIRSTNAME], [LASTNAME], [GENDER], [PHONENUMBER], [EMAILADDRESS], [ADDRESS], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY]) VALUES (2, N'CO', N'THAO', N'FEMALE', N'0363365054', N'cogiaothao@gmail.com', NULL, N'COGIAO', CAST(0x0000AAE7001C4E3C AS DateTime), CAST(0x0000AAE7001C4E3C AS DateTime), N'COGIAO')
INSERT [dbo].[PERSONS] ([PERSONID], [FIRSTNAME], [LASTNAME], [GENDER], [PHONENUMBER], [EMAILADDRESS], [ADDRESS], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY]) VALUES (3, N'Pham ', N'Hung', N'MALE', N'0363365053', N'phamhung.pitit@gmail.com', N'135, Man Thiện, Hiệp, Phú Quận 9, Hồ Chính Minh', N'HXPHAM', CAST(0x0000AAE7001C4E3C AS DateTime), CAST(0x0000AAE7001C4E3C AS DateTime), N'HXPHAM')
SET IDENTITY_INSERT [dbo].[PERSONS] OFF
SET IDENTITY_INSERT [dbo].[QUESTION_RESULT] ON 

INSERT [dbo].[QUESTION_RESULT] ([QUESTIONRESULTID], [ANWSERID], [ANWSERORDER], [QUESTIONID], [EXAMID], [DATECREATED], [DATEMODIFIED], [CREATEDBY], [MODIFIEDBY]) VALUES (343, 1, N'[1, 2, 3, 4]', 1, 42, CAST(0x0000AAF30015595F AS DateTime), CAST(0x0000AAF30015595F AS DateTime), N'HXPHAM', N'HXPHAM')
INSERT [dbo].[QUESTION_RESULT] ([QUESTIONRESULTID], [ANWSERID], [ANWSERORDER], [QUESTIONID], [EXAMID], [DATECREATED], [DATEMODIFIED], [CREATEDBY], [MODIFIEDBY]) VALUES (344, 5, N'[5, 6, 7, 8]', 2, 42, CAST(0x0000AAF300155960 AS DateTime), CAST(0x0000AAF300155960 AS DateTime), N'HXPHAM', N'HXPHAM')
INSERT [dbo].[QUESTION_RESULT] ([QUESTIONRESULTID], [ANWSERID], [ANWSERORDER], [QUESTIONID], [EXAMID], [DATECREATED], [DATEMODIFIED], [CREATEDBY], [MODIFIEDBY]) VALUES (345, 37, N'[37, 38, 39, 40]', 10, 42, CAST(0x0000AAF300155960 AS DateTime), CAST(0x0000AAF300155960 AS DateTime), N'HXPHAM', N'HXPHAM')
SET IDENTITY_INSERT [dbo].[QUESTION_RESULT] OFF
SET IDENTITY_INSERT [dbo].[QUESTIONS] ON 

INSERT [dbo].[QUESTIONS] ([QUESTIONID], [CONTENT], [LEVEL], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [ISACTIVE]) VALUES (1, N'What is the correct ordering for the import, class and package declarations when found in a single file?', 1, N'HXPHAM', CAST(0x0000AAE7001C4E49 AS DateTime), CAST(0x0000AAE7001C4E49 AS DateTime), N'HXPHAM', 1)
INSERT [dbo].[QUESTIONS] ([QUESTIONID], [CONTENT], [LEVEL], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [ISACTIVE]) VALUES (2, N'Which methods can not be legally applied to a string object?', 1, N'HXPHAM', CAST(0x0000AAE7001C4E49 AS DateTime), CAST(0x0000AAE7001C4E49 AS DateTime), N'HXPHAM', 1)
INSERT [dbo].[QUESTIONS] ([QUESTIONID], [CONTENT], [LEVEL], [CREATEDBY], [DATECREATED], [DATEMODIFIED], [MODIFIEDBY], [ISACTIVE]) VALUES (3, N'What is the legal range of a byte integral type ?', 1, N'HXPHAM', CAST(0x0000AAE7001C4E4A AS DateTime), CAST(0x0000AAE7001C4E4A AS DateTime), N'HXPHAM', 1)
SET IDENTITY_INSERT [dbo].[QUESTIONS] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__ACCOUNTP__1BE0D474A76F8A03]    Script Date: 01-Nov-19 7:53:57 PM ******/
ALTER TABLE [dbo].[ACCOUNTPLANS] ADD UNIQUE NONCLUSTERED 
(
	[PLANCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__ACCOUNTP__CE12687A5083EC84]    Script Date: 01-Nov-19 7:53:57 PM ******/
ALTER TABLE [dbo].[ACCOUNTPLANS] ADD UNIQUE NONCLUSTERED 
(
	[SHORTDESCRIPTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__ACCOUNTS__B15BE12E5983DA70]    Script Date: 01-Nov-19 7:53:57 PM ******/
ALTER TABLE [dbo].[ACCOUNTS] ADD UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__ACCOUNTS__7B56D17C5C280144]    Script Date: 01-Nov-19 7:53:57 PM ******/
ALTER TABLE [dbo].[ACCOUNTSTATUSES] ADD UNIQUE NONCLUSTERED 
(
	[ACCOUNTSTATUSCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__ACCOUNTS__CE12687A51F8BDA8]    Script Date: 01-Nov-19 7:53:57 PM ******/
ALTER TABLE [dbo].[ACCOUNTSTATUSES] ADD UNIQUE NONCLUSTERED 
(
	[SHORTDESCRIPTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__PERSONS__3CE8EE923996FE85]    Script Date: 01-Nov-19 7:53:57 PM ******/
ALTER TABLE [dbo].[PERSONS] ADD UNIQUE NONCLUSTERED 
(
	[EMAILADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNTPLANS] ADD  DEFAULT (getdate()) FOR [DATECREATED]
GO
ALTER TABLE [dbo].[ACCOUNTPLANS] ADD  DEFAULT (getdate()) FOR [DATEMODIFIED]
GO
ALTER TABLE [dbo].[ACCOUNTPLANS] ADD  CONSTRAINT [DF_ACCOUNTPLANS_ISACTIVE]  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT (getdate()) FOR [DATECREATED]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT (getdate()) FOR [DATEMODIFIED]
GO
ALTER TABLE [dbo].[ACCOUNTSTATUSES] ADD  DEFAULT (getdate()) FOR [DATECREATED]
GO
ALTER TABLE [dbo].[ACCOUNTSTATUSES] ADD  DEFAULT (getdate()) FOR [DATEMODIFIED]
GO
ALTER TABLE [dbo].[ANWSERS] ADD  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[ANWSERS] ADD  DEFAULT (getdate()) FOR [DATECREATED]
GO
ALTER TABLE [dbo].[ANWSERS] ADD  DEFAULT (getdate()) FOR [DATEMODIFIED]
GO
ALTER TABLE [dbo].[EXAMS] ADD  DEFAULT (getdate()) FOR [DATECREATED]
GO
ALTER TABLE [dbo].[EXAMS] ADD  DEFAULT (getdate()) FOR [DATEMODIFIED]
GO
ALTER TABLE [dbo].[PERSONS] ADD  DEFAULT ('Undefined') FOR [GENDER]
GO
ALTER TABLE [dbo].[PERSONS] ADD  DEFAULT (getdate()) FOR [DATECREATED]
GO
ALTER TABLE [dbo].[PERSONS] ADD  DEFAULT (getdate()) FOR [DATEMODIFIED]
GO
ALTER TABLE [dbo].[QUESTION_RESULT] ADD  DEFAULT (getdate()) FOR [DATECREATED]
GO
ALTER TABLE [dbo].[QUESTION_RESULT] ADD  DEFAULT (getdate()) FOR [DATEMODIFIED]
GO
ALTER TABLE [dbo].[QUESTIONS] ADD  DEFAULT ((1)) FOR [LEVEL]
GO
ALTER TABLE [dbo].[QUESTIONS] ADD  DEFAULT (getdate()) FOR [DATECREATED]
GO
ALTER TABLE [dbo].[QUESTIONS] ADD  DEFAULT (getdate()) FOR [DATEMODIFIED]
GO
ALTER TABLE [dbo].[ACCOUNTS]  WITH CHECK ADD FOREIGN KEY([ACCOUNTPLANID])
REFERENCES [dbo].[ACCOUNTPLANS] ([ACCOUNTPLANID])
GO
ALTER TABLE [dbo].[ACCOUNTS]  WITH CHECK ADD FOREIGN KEY([ACCOUNTSTATUSID])
REFERENCES [dbo].[ACCOUNTSTATUSES] ([ACCOUNTSTATUSID])
GO
ALTER TABLE [dbo].[ANWSERS]  WITH CHECK ADD FOREIGN KEY([QUESTIONID])
REFERENCES [dbo].[QUESTIONS] ([QUESTIONID])
GO
ALTER TABLE [dbo].[EXAMS]  WITH CHECK ADD FOREIGN KEY([ACCOUNTNUMBER])
REFERENCES [dbo].[ACCOUNTS] ([ACCOUNTNUMBER])
GO
ALTER TABLE [dbo].[QUESTION_RESULT]  WITH CHECK ADD FOREIGN KEY([EXAMID])
REFERENCES [dbo].[EXAMS] ([EXAMID])
GO
